<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>100 Days :: Amsterdam</title>
<!-- Bootstrap -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800,700italic,800italic);
body { background: #312f2c; color: #fff; font-family: "Open Sans", Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;  font-size: 16px; }
.font75 { font-size: 75%; }
#heading { font-size: 8.5rem; padding-top: 50px; }
.pale { color: #bebdbb; }
.strong { font-weight: 700; }
.stronger { font-weight: 800; }
#ac {
 font-size: 8.5rem;
 font-weight: 700;
 letter-spacing: -3px;
 margin-bottom: 60px;
 padding: 0;
 text-transform: uppercase;
}
#date { font-size: 6rem; font-weight: 700; }
#nineteen { font-size: 25rem; font-weight: 800; line-height: 25rem; }
#day { font-size: 5rem; font-weight: 300; letter-spacing: 20px; text-transform: uppercase; }
#time { font-size: 3rem; font-weight: 300; letter-spacing: 6px; }
#where { font-size: 2.5rem; }
 #where #map { padding-bottom: 30px; }
#logos { margin: 50px 0; }
  #logos > div img { max-width: 75%; }
   #itsup { margin-top: 9px; }
   #bang { margin-top: 24px; }
   #hoodlamb { margin-top: 15px; }

@media (max-width: 991px) {
 #heading {
  font-size: 6rem;
 }
 #ac {
  font-size: 5rem;
 }
 #date {
  font-size: 3rem;
  text-align: center;
 }
 #nineteen {
  font-size: 15rem;
  line-height: 10rem;
 }
 #day {
  font-size: 2.5rem;
  text-align: center;
 }
 #time {
  text-align: center;
  padding-bottom: 50px;
 }
 #where {
  text-align: center;
 }
 #logos > div img {
  margin: 0 auto !important;
  max-width: 50%;
  padding: 10px 0;
 }
}
@media (max-width: 549px) {
 #heading {
  font-size: 3rem;
 }
 #ac {
  font-size: 2.5rem;
  letter-spacing: 0;
 }
}
@media (max-width: 479px) {
 #logos > div img {
  max-width: 75%;
 }
}
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container">
 <div class="row">
  <div class="col-md-12">
   <div id="header-img"><img src="/images/100days-amsterdam-header.jpg" class="img-responsive center-block"></div>
  </div>
 </div>

 <div class="row">
  <div class="text-center col-md-8 col-md-offset-2">
   <div id="heading"><span class="stronger">100</span><span class="font75">DAY</span>Challenge </div>
  </div>
 </div>
 <div class="row">
  <div id="ac" class="text-center col-md-10 col-md-offset-1">Award Ceremony</div>
 </div>

 <div class="row">
  <div class="col-sm-12 col-md-6">
   <div id="date"><span id="nineteen">19</span>SEPT</div>
   <div id="day">Saturday</div>
   <div id="time">17:00 to 18:30</div>
  </div>
  <div id="where" class="col-sm-12 col-md-6 pale">
   <div id="map"><img src="/images/map.png" alt="" class="img-responsive center-block"></div>
   <p><span class="strong">Location</span> Cafe Batavia 1920</p>
   <p>
    <div><span class="strong">Address</span> Prins Hendrikkade 85,</div>
    <div>1012 AE Amsterdam, Netherlands</div>
   </p>
  </div>
 </div>

 <div id="logos" class="row">
  <div class="col-xs-12 col-md-3"><a href="http://www.sctr.net"><img src="/images/logo-itsup.png" alt="" id="itsup" class="img-responsive center-block"></a></div>
  <div class="col-xs-12 col-md-3"><a href="http://www.sctr.net"><img src="/images/logo-bang.png" alt="" id="bang" class="img-responsive center-block"></a></div>
  <div class="col-xs-12 col-md-3"><a href="http://www.hoodlamb.com/"><img src="/images/logo-hoodlamb.png" id="hoodlamb" alt="" class="img-responsive center-block"></a></div>
  <div class="col-xs-12 col-md-3"><a href="http://www.vendoservices.com/"><img src="/images/logo-vendo.png" alt="" id="vendo" class="img-responsive center-block"></a></div>
 </div>

</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
